div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 10px;
  margin: auto;
}

div#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  color: #CCC;
  background: #5bc0de;
  padding: 5px;
  margin: auto;
}