a {
  color: rgb(100, 89, 196);
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  font-size: larger;
}

body {
  background-color: rgb(240, 167, 159);
  font-family: 'Caveat Brush', cursive;
  color: white;
}

div.card-body {
  background-color: rgb(240, 167, 159);
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  margin: auto;
}

div#form {
  text-align: center;
}

hr {
  color: white;
  width: 5px;
  height: 5px;
}

h1 {
  font-family: 'Abel', sans-serif;
}

h3 {
  text-align: center;
}

h3#denied {
  color: red;
}

#nav-bar {
  padding-top: 25px;
}

div#home-list {
  text-align: center;
}

div.page-header {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.nav-item {
  width: 100%;
  padding: 20px;
  margin: auto;
}


