@{
  Layout = "_Layout";
}

@model TreatShop.Models.Flavor;

<h1>Create a Flavor</h1>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);
  <br>
  <br>
  <input type="submit" value="Add" />
}


<p>@Html.ActionLink("Back to List", "Index")</p>