@{
  Layout = "_Layout";
}

@model TreatShop.Models.Flavor;

<div class="page-header">
  <h1>Edit</h1>
  <hr>
</div>

<div id="form">
  <h4>Flavor: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
  }
</div>