@{
  Layout = "_Layout";
}

@model TreatShop.Models.Treat;

<div class="page-header">
  <h1>Add a Flavor </h1>
  <hr>
</div>

<div id="form">
  <h4>Add a Flavor to this Treat: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
  }
</div>
