@{
	Layout = "_Layout";
}

@model TreatShop.Models.Treat

<h1>Create a Treat</h1>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	;
	@Html.TextBoxFor(model => model.Name)
	;
	<input type="submit" value="Add" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>